.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 0px solid var(--border-color);
  background-color: var(--aden-bg-black);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--aden-max-width);
  height: var(--aden-header-height);
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (max-width: 600px) {
    gap: 16px;
  }

  a {
    text-decoration: none;
    color: var(--aden-text-muted-gray);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
    position: relative;
    padding: 4px 0;

    &:hover {
      color: var(--aden-white);
    }

    &.active {
      color: var(--aden-accent-blue);
    }
  }
}

.header-left, .header-right {
  flex: 1;
  display: flex;
}

.header-right {
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--aden-text-muted-gray);
  background: transparent;
  padding: 6px;
  border-radius: 4px;
  transition: all 0.2s;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  &:hover {
    background-color: var(--aden-bg-hover);

    img {
      opacity: 1;
    }
  }
}
