@use './fonts.scss' as *;

:root {
  // Colors
  --aden-bg-black: #09090b;
  --aden-pure-black: #000000;
  --aden-border-gray: #333333;
  --aden-text-muted-gray: #a1a1aa;
  --border-color: #27272a;

  --aden-white: #ffffff;
  --aden-white-alpha-05: rgba(255, 255, 255, 0.05);
  --aden-white-alpha-10: rgba(255, 255, 255, 0.1);
  --aden-white-alpha-50: rgba(255, 255, 255, 0.5);
  --aden-white-alpha-70: rgba(255, 255, 255, 0.7);
  --aden-white-alpha-90: rgba(255, 255, 255, 0.9);

  --aden-primary-dark-green: #22c55e;
  --aden-danger-red: #ef4444;

  // Hover Colors
  --aden-bg-hover: #18181b;
  --aden-accent-blue: #3b82f6;
  --aden-info-blue: #60a5fa;

  // Code & Cards
  --aden-code-bg-black: #111111;
  --aden-surface-light: #242427;

  // Syntax Highlighting
  --aden-syntax-keyword: #c084fc;
  --aden-syntax-string: #a5f3fc;
  --aden-syntax-type: #fcd34d;
  --aden-syntax-tag: #f472b6;
  --aden-syntax-attr: #60a5fa;
  --aden-syntax-comment: #52525b;

  // Effects
  --aden-glass-blur: 12px;

  // Sizes
  --aden-header-height: 65px;
  --aden-max-width: 1920px;

  // Fonts
  --aden-code-font: 'JetBrains Mono', 'Fira Code', monospace;
  --aden-main-font: 'Onest';
}

body {
  background-color: var(--aden-bg-black);
  color: var(--aden-white);
  font-family: var(--aden-main-font), sans-serif;
  margin: 0;
}
