<div class="playground-container">
  <app-ui-playground-header [meta]="meta()"></app-ui-playground-header>

  <div class="playground-body">
    <div class="tabs-nav">
      <div class="tab-group">
        <button class="tab-btn" [class.active]="activeTab() === 'preview'" (click)="setTab('preview')">Preview</button>
        @if (docsCode()) {
        <button class="tab-btn" [class.active]="activeTab() === 'docs'" (click)="setTab('docs')">Docs</button>
        }
        @if (files().length > 0) {
        <button class="tab-btn" [class.active]="activeTab() === 'code'" (click)="setTab('code')">Code</button>
        }
        @if (installCode()) {
        <button class="tab-btn" [class.active]="activeTab() === 'install'" (click)="setTab('install')">Install</button>
        }
      </div>
    </div>

    <div class="viewport">
      @if (activeTab() === 'preview') {
      <div class="preview-canvas">
        <ng-content></ng-content>
      </div>
      }

      @if (activeTab() !== 'preview') {
      <app-ui-playground-viewport [activeTab]="$any(activeTab())" [files]="files()"
        [activeFileIndex]="activeFileIndex()" [docsCode]="docsCode()" [installCode]="installCode()"
        (fileIndexChange)="setFileIndex($event)">
      </app-ui-playground-viewport>
      }
    </div>
  </div>
</div>
